body {
  background-color: rgb(142, 247, 203);
  text-align: center;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  color: blueviolet;
  font-size: 30px;
}

h2 {
  color: cornflowerblue;
  font-size: 20px;
}
